@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap');

$font: 'Quicksand', sans-serif;
$primary: #F781;
$btn-color:#ffb500;
$btn-color2:#2E2A25;
$home-color:#fce5bc;
$pedido-color:#4f372f;
$letra-color:#ffff;
.color-body{
 background-color: $home-color;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  height: max-content;
  width: max-content;
  padding: 1em;
  border: none;
  outline: none;
  
}
%container{
  @include container
}
html, body{
  font-family: $font;
  height: 100%;
}
header{
background-color: $btn-color;
}
header, footer{
  height: 5em;
}
h1{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.centered {
  justify-content: center;
  align-items: center;
}
.even {
  justify-content: space-evenly;
}
.center-item{
  align-items: center;
}
.footer {
  flex-shrink: 0;
  text-align: center;
}
.content {
  flex: 1 0 auto;
}
.mg-1{
  margin: 1em;
}
.btn{
  @include centered;
  @extend %container;
  border-radius: 2em;
  font-family: $font;
  font-weight: 500;
  margin: 1em;
  background-color: $btn-color;

}
.logo{
  height:3em;
}
.fondo{
  background-image: url("https://www.animalgourmet.com/wp-content/uploads/2016/07/hamburguesa.jpg");
  height: 400px;
  background-repeat: no-repeat;
}
.text-box{
  @extend %container;
  border-radius: 1em;
}
