$product: #f7eab1;

.product{
background-color: $product;
margin: 10px;
}
.text-card{
    font-size: 1.5rem;
}
.text-center{
    text-align: center!important;
}
.img-card{
    width: 20%;
}
.border{
    box-sizing: border-box;
}
.flex-wrap{
    flex-wrap:wrap;
}