// @media screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
//     body {
//       transform: rotate(-90deg);
//       transform-origin: left top;
//       height: max-content;;
//       width: max-content;
//       overflow-x: hidden;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap');

$font: 'Quicksand', sans-serif;
$primary: #F781;
$btn-color:#ffb500;
$btn-color2:#2E2A25;
$home-color:#fce5bc;
$pedido-color:#4f372f;
$letra-color:#ffff;
$principal:#ffda7f;
$acento:#F1C40F;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  height: max-content;
  width: max-content;
  padding: 1em;
  border: none;
  outline: none;
}

%container{
  @include container
}
.center{
  justify-content: center;
}
.mg-1{
  margin: 1em;
}
.btn{
  @include centered;
  @extend %container;
  border-radius: 2em;
  font-family: $font;
  font-weight: 500;
  margin: 1em;
  background-color: $btn-color;
}
.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}  

.w-50{
    width: 50%;
    margin: 1em;
}
//----------------------------------------------------
     html,body {
        margin: 0px;
        font-family: $font;
      }
      
      header,footer {
        background-color: $btn-color;
        width: 100%;
        height: 3.5em;
      }
      
      ul {
        display: flex;
        list-style-type: none;
        font-size: 20px;
        justify-content: flex-end; 
        margin: 0px; 
      }
      
      li {
        margin: 20px;
      }
      
      #title {
        margin-right: auto;
      }
      
      
      li a {
       color: black;
       text-decoration: none; 
      }
      
      li a:hover {
        text-decoration: underline;
      }
 //----------------------------
 .fila{
   display: flex;
   flex-direction: row;
 }
 .order-box{
   background-color: $principal;
   border-radius: 1em;
 }
 h1{
   color:$pedido-color;
   font-weight: bolder;
   font-size: 2em;
   padding: .3em;
   text-align: center;
 }
 label{
   padding: 1em;
   font-size: 1em;
 }
 input{
   border-radius: 1em;
   border: none;
   font-size: 1em;
   padding: .3em;
   margin: 1em;
 }
 textarea{
   resize: none;
   background-color: transparent;
   border: none;
   font-size: 1em;
   padding: .3em;
 }
 .bg-home{
    background: url(https://images5.alphacoders.com/415/415257.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
 }
 .Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.text-box{
  @extend %container;
  border-radius: 1em;
}
.btn2{
  width: 33.3%;
  padding: 1em 0;
  font-family: $font;
  border: none;
  outline: none;
  background-color: $btn-color;
}
.btn2:hover, .btn2:focus{
  background-color: $acento;
}
.flex-wrap{
  flex: wrap;
}
.space-around{
  justify-content: space-around;
}
.bold{
  font-weight: bold;
}
.principal{
  background-color: $principal;
}
.centered{
  justify-content: center;
  align-items: center;
}
    }
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}
