// $laptop-desktop:1281px;
// $tablet-portrait-i:1025px;
// $tablet-portrait-f:1280px;
// $tablet-landscape-i:768px;
// $tablet-landscape-f:1024px;
// $low-tablet-landscape-i:768px;
// $low-tablet-landscape-f:1024px;
// $mobile-portrait-i:481px;
// $mobile-portrait-f:767px;
// $others-i:320px;
// $others-f:480px;

// @media screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
//     body {
//       transform: rotate(-90deg);
//       transform-origin: left top;
//       height: max-content;;
//       width: max-content;
//       overflow-x: hidden;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .w-50{
      width: 50%;
      margin: 1em;
    }
//----------------------------------------------------
      body {
        margin: 0px;
      }
      
      header {
        background-color: $btn-color;
        width: 100%;
        height: 70px;
      }
      
      ul {
        display: flex;
        list-style-type: none;
        font-size: 20px;
        justify-content: flex-end; 
        margin: 0px; 
      }
      
      li {
        margin: 20px;
      }
      
      #title {
        margin-right: auto;
      }
      
      
      li a {
       color: black;
       text-decoration: none; 
      }
      
      li a:hover {
        text-decoration: underline;
      }
 //----------------------------
 .fila{
   display: flex;
   flex-direction: row;
 }
 .order-box{
   background-color: $principal;
   border-radius: 1em;
 }
 h1{
   color:$pedido-color;
   font-weight: bolder;
   padding: .3em;
 }
 label{
   padding: 1em;
   font-size: 1em;
 }
 input{
   border-radius: 1em;
   border: none;
   font-size: 1em;
   padding: .3em;
   margin: 1em;
 }
 textarea{
   resize: none;
   background-color: transparent;
   border: none;
   font-size: 1em;
   padding: .3em;
 }

    }
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}
